* {
  word-wrap: break-word;
}
img {
	max-width: 100%;
}
.navbar-header,
.navbar-brand {
	text-align: center;
	float: none;
	display: block;
}

/* messenger */

.messenger {
	position: fixed;
	right: 20px;
	bottom: 20px;
}
.messenger img {
	width: 50px;
	height: auto;
}

.emoji {
	width: 14px;
}