* {
  word-wrap: break-word;
}

table.ranking tr:first-child td {
	border-top: none;
}

.judul-ranking {
	width: 52.8px;
}

#onesignal-bell-launcher {
	bottom: 70px !important;
}

.bawah {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	margin-bottom: 0;
}

.ellipsis {
    display: -webkit-flex;
    display: flex;
}
.ellipsis .ellipsis-item {
    -webkit-flex: 1;
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.ellipsis .badge {
    margin: 1px 0 1px 4px;
}

.online {
	position: fixed;
	bottom: 52px;
	left: 10px;
}

body {
  /*min-height: 2000px;*/
  padding-top: 70px;
  padding-bottom: 72px;
}

img {
	max-width: 100%;
}
.sampul,
img:not(.emoji) {
	display: block;
	margin: auto;
}
.navbar-header,
.navbar-brand {
	text-align: center;
	float: none;
	display: block;
}

/* notifikasi */

.notifikasi {
	position: fixed;
	right: 20px;
	bottom: 70px;
}
.notifikasi img {
	width: 50px;
	height: auto;
}

.emoji {
	width: 21px;
}
.medium {
	margin-bottom: 30px;
}
@media (max-width: 768px) {
	.emoji {
		width: 16px;
	}
	.medium {
		margin-bottom: 25px;
	}
}