* {
  word-wrap: break-word;
}

body {
  /*min-height: 2000px;*/
  padding-top: 70px;
}

img {
	max-width: 100%;
}
.sampul {
	display: block;
	margin: auto;
}
.navbar-header,
.navbar-brand {
	text-align: center;
	float: none;
	display: block;
}

/* messenger */

.messenger {
	position: fixed;
	right: 20px;
	bottom: 20px;
}
.messenger img {
	width: 50px;
	height: auto;
}

.emoji {
	width: 21px;
}
@media (max-width: 768px) {
	.emoji {
		width: 16px;
	}
}