---
layout: post
permalink: /blog/
---


<p><strong>Tulisan Terbaru</strong></p>
{% for post in site.posts | limit: 10 %}
	<div class="postingan">
		<p>{{ post.content | strip_html | truncatewords: 60 }} <a href="{{ post.url }}">Baca selengkapnya</a></p>
	</div>
{% endfor %}
<p><strong>Tulisan lainnya</strong></p>
{% assign random = site.time | date: "%s" %}
{% assign acak_judul = page.title.size %}
{% assign angka_postingan = page.date | date: "%s" | plus: random | plus: acak_judul %}
{% for i in (1..10) %}
	{% assign postingan_selanjutnya = angka_postingan | plus: forloop.index0 | modulo: site.posts.size %}
	<div class="postingan-selanjutnya">
		<p>{{ site.posts[postingan_selanjutnya].content | strip_html | truncatewords: 60 }} <a href="{{ site.posts[postingan_selanjutnya].url }}">Baca selengkapnya</a></p>
	</div>
{% endfor %}