---
layout: post
title: Blog
date: 2018-04-08 12:09:00
index: oke
---

<div class="row">
	{% for post in site.posts | limit: 12 %}
		<div class="col-sm-4 col-xs-6">
			<a href="{{ post.url }}">
				<!-- https://stackoverflow.com/questions/5445491/height-equal-to-dynamic-width-css-fluid-layout -->
				<div class="cover-parent">
					<div class="dummy"></div>
					<div style="background-image: url('{% if post.gambar %}{{ post.gambar }}{% else %}{{ site.gambar }}{% endif %}');" class="cover"></div>
				</div>
				<p class="judul">{{ post.title }}</p>
			</a>
		</div>
	{% endfor %}
</div>