---
layout: default
komunitas:
  - https://instagram.fupg2-1.fna.fbcdn.net/vp/d82ccd87e5fcce4ffea86d13f734617f/5D0CB00E/t51.2885-15/e35/51459499_571208290046268_2453280138248668430_n.jpg?_nc_ht=instagram.fupg2-1.fna.fbcdn.net&_nc_cat=100
  - https://instagram.fupg2-1.fna.fbcdn.net/vp/e8e43607a3aeda518e0caf6ab34d3f6a/5D2496BA/t51.2885-15/e35/51349645_2123581420995903_4182805338711215218_n.jpg?_nc_ht=instagram.fupg2-1.fna.fbcdn.net&_nc_cat=103
  - https://instagram.fupg1-1.fna.fbcdn.net/vp/3980e6f9dd09ceebf399039cffaa4e5f/5D1B103C/t51.2885-15/e35/50292810_326098814690471_5117931775148626773_n.jpg?_nc_ht=instagram.fupg1-1.fna.fbcdn.net&_nc_cat=111
  - https://instagram.fupg2-1.fna.fbcdn.net/vp/a376370c3c51fd632a5bf528a0ce6d78/5D1412B4/t51.2885-15/e35/51034564_309039999959577_2588812328930603888_n.jpg?_nc_ht=instagram.fupg2-1.fna.fbcdn.net&_nc_cat=109
---

<!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  Launch demo modal
</button> -->

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">My Zen</h4>
      </div>
      <div class="modal-body">
        <div class="form-group"><label>Link Foto Profil</label><input type="text" class="foto_profil form-control"></div>
        <div class="form-group"><label>Nama</label><input type="text" class="nama form-control"></div>
        <div class="form-group"><label>Bio</label><textarea name="" id="" class="bio form-control" rows="5"></textarea></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default tutup_modal" data-dismiss="modal">Tutup</button>
        <button type="button" class="btn btn-primary simpan">Simpan</button>
      </div>
    </div>
  </div>
</div>

<div class="container">
	<div class="row">
		<div class="col-sm-3">
			<div class="element">
				<div class="thumbnail"><img class="tampil_foto_profil" src="https://avatars0.githubusercontent.com/u/7939342?s=460&v=4"></div>
				<h3 class="tampil_nama">Zen</h3>
				<p class="tampil_bio">developer Nulis Aja Community | layouter Sanggar Caraka | co-owner Toko Sepeda Sinar Jaya | mahasiswa Psikologi | mantan wakil ketua Himpunan Mahasiswa Psikologi | mantan Badan Informasi dan Komunikasi Ikatan Lembaga Mahasiswa Psikologi Indonesia</p>
				<p><a href="#!" class="full modal_view btn btn-default" data-toggle="modal" data-target="#myModal">Edit</a></p>
				<!-- <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal"> -->
				<!-- <hr> -->
				<p><strong>Komunitas</strong></p>
				<div>
					{% for x in page.komunitas %}
						<img src="{{ x }}" class="komunitas">
					{% endfor %}
				</div>
			</div>
		</div>
		<div class="col-sm-9">
			<div class="element">
				<div class="list-group">
					{% for x in paginator.posts %}
						<a href="{% if x.link %}{{ x.link }}{% else %}{{ x.url }}{% endif %}" class="list-group-item">{{ x.title }}</a>
					{% endfor %}
				</div>
				{% if paginator.next_page %}
					<center>
						<a href="{{ paginator.next_page_path }}" class="btn btn-default">Selanjutnya &rarr;</a>
					</center>
				{% endif %}
			</div>
			<div class="row">
				<div class="col-sm-4">
					<div class="element">
						<p>Tags</p>
						<div class="panel panel-default">
							<div class="panel-body">
								{% assign semua_tag = site.tags | sort %}
								{% for x in semua_tag %}
									<div class="badge">{{ x | first }}</div>
								{% endfor %}
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-8">
					<div class="element">
						<p><span class='sudah_dibaca'>1</span> tulisan telah dibaca (dari {{ site.posts | size }} tulisan)</p>
						<div class="panel panel-default">
							<div class="panel-body">
								<div class="progress">
									<div class="progress_dibaca progress-bar progress-bar-success progress-bar-striped active" style="width: 1%"></div>
								</div>
								<div class="progress">
									<div class="tag1 progress-bar progress-bar-success" style="width: 25%"></div>
									<div class="tag2 progress-bar progress-bar-info" style="width: 25%"></div>
									<div class="tag3 progress-bar progress-bar-warning" style="width: 25%"></div>
									<div class="tag4 progress-bar progress-bar-danger" style="width: 25%"></div>
								</div>
								<p>Kategori yang sering dibuka:</p>
								<ol>
									<li><span class="success"><strong><span class='tag1_nama'>psikologi</span></strong></span> (<span class='tag1_persen'>25</span>%)</li>
									<li><span class='info'><strong><span class='tag2_nama'>blog</span></strong></span> (<span class='tag2_persen'>25</span>%)</li>
									<li><span class='warning'><strong><span class='tag3_nama'>sosial</span></strong></span> (<span class='tag3_persen'>25</span>%)</li>
									<li><span class='danger'><strong><span class='tag4_nama'>linux</span></strong></span> (<span class='tag4_persen'>25</span>%)</li>
								</ol>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	judul = 'beranda'
</script>