---
halaman: Cerpen
---

<!DOCTYPE html>
<html>
<head>
	<title>Cerpen - Zen</title>
	{% include head.html %}
</head>
<body>
<div class="container">
	{% include header.html %}
	<div class="row">
		<div class="col-sm-8">
			{% for post in site.categories.cerpen %}
				<div>
					<h1 style="color: rgb(0, 188, 212);">
						<a href='{{ site.url }}{{ post.url }}' style="text-decoration: none;">{{ post.title }}</a>
					</h1>
					<p><img src="{{ post.gambar }}" style="width: 100%;"></p>
					<p>{{ post.content | strip_html | truncatewords: 50 }}</p>
					<p>
						<a href="{{ site.url }}{{ post.url }}" class="btn btn-default" style="background: rgb(76, 175, 80); color: white;">Lanjutkan Membaca</a>
					</p>
				</div>
				{% if forloop.index0 == 0 %}
					{% include iklan.html %}
				{% elsif forloop.index0 == 1 %}
					{% include iklan-2.html %}
				{% elsif forloop.index0 == 2 %}
					{% include iklan-3.html %}
				{% elsif forloop.index0 == 3 %}
					{% include iklan-4.html %}
				{% elsif forloop.index0 == 4 %}
					{% include iklan-5.html %}
				{% endif %}
			{% endfor %}
		</div>
		<div class="col-sm-4">
			{% include sidebar.html %}
		</div>
	</div>
	{% include footer.html %}
</div>
</body>
</html>