<template id="baca">
	<div>
		<img :src="gambar" class="baca-gambar">
		<div class="baca-konten">
			<h1 class="baca-konten-judul"><span v-text='judul'></span> <a :href='edit(path)'><img src="aset/pencil-edit-button.png"></a></h1>
			<div v-html='isi'></div>
		</div>
		<router-link to='/' class='baca-kembali'><img src="aset/back-button.png"></router-link>
	</div>
</template>
<link rel="stylesheet" type="text/css" href="vendor/monokai.css">
<script type="text/javascript">
	baca = {
		template: '#baca',
		data(){
			return {
				gambar: '',
				judul: '',
				isi: '',
				path: ''
			}
		},
		methods: {
			edit(x){
				return `https://github.com/mzaini30/mzaini30.github.io/edit/master/${x}`;
			}
		},
		mounted(){
			fetch(`konten/${this.$route.params.slug}.html`).then(x => x.json()).then(data => {
				this.gambar = data.gambar;
				this.judul = data.judul;
				this.isi = data.isi;
				this.path = data.path;
			})
		}
	}
</script>