<template id="baca">
 <div>
  <div v-if="data.length != 0">
   <h1><< data.title >></h1>
   <div v-html="data.content"></div>
   <h2>Tulisan lainnya</h2>
   <div class="list-group">
    <router-link class="list-group-item list-group-item-action" v-for="x in data.lainnya" :to="x.slug"><< x.title >> <span class="badge badge-dark" v-if="x.jumlah_kata == 0">belum diisi</span></router-link>
   </div>
   <br>
  </div>
  <div v-if="data.length == 0">
   <p>Konten yang kamu cari, nggak ditemukan.</p>
  </div>
  <div id="disqus_thread"></div>
 </div>
</template>
<script>
 baca = {
  template: "#baca",
  data(){
   return {
    {% if page.date %}
     data: {
      "slug": {{ page.url | jsonify }},
      "title": {{ page.title | jsonify }},
      "content": {{ page.content | jsonify }},
      "jumlah_kata": {{ page.content | number_of_words | jsonify }},
      "lainnya": [
       {% assign acak1 = site.time | date: "%s%N" | plus: x.content.size | plus: 1 | modulo: site.posts.size %}
       {% assign acak2 = site.time | date: "%s%N" | plus: x.content.size | plus: 2 | modulo: site.posts.size %}
       {% assign acak3 = site.time | date: "%s%N" | plus: x.content.size | plus: 3 | modulo: site.posts.size %}
       {
        "slug": {{ site.posts[acak1].url | jsonify }},
        "title": {{ site.posts[acak1].title | jsonify }},
        "jumlah_kata": {{ site.posts[acak1].content | number_of_words | jsonify }},
       },
       {
        "slug": {{ site.posts[acak2].url | jsonify }},
        "title": {{ site.posts[acak2].title | jsonify }},
        "jumlah_kata": {{ site.posts[acak2].content | number_of_words | jsonify }},
       },
       {
        "slug": {{ site.posts[acak3].url | jsonify }},
        "title": {{ site.posts[acak3].title | jsonify }},
        "jumlah_kata": {{ site.posts[acak3].content | number_of_words | jsonify }},
       }
      ]
     }
    {% else %}
     data: []
    {% endif %}
   }
  },
  delimiters: ["<<", ">>"],
  methods: {
   ambil_data(){
    loading()
    fetch("/semua.json").then(x => x.json()).then(data => {
     this.data = data.filter(x => x.slug == `/${this.$route.params.slug}`)[0]
     if (this.data == undefined) {
      this.data = []
      document.title = 'Halaman tidak ditemukan'
     } else {
      document.title = this.data.title
     }
     loading_selesai()
    })
   },
   disqus(){
    /**
    *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
    *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
    slugnya = this.$route.params.slug
    var disqus_config = function () {
    this.page.url = `https://mzaini30.js.org/${slugnya}`;  // Replace PAGE_URL with your page's canonical URL variable
    this.page.identifier = slugnya; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
    (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = 'https://mzaini30.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();            
   }
  },
  mounted(){
   if (this.data.slug != `/${this.$route.params.slug}`){
    this.ambil_data()
   }
   this.disqus()
  },
  watch: {
   $route(){
    this.ambil_data()
    this.disqus()
   }
  }
 }
</script>
<style>
 * {
  word-wrap: break-word;
 }
 img {
  max-width: 100%;
  display: block;
  margin: auto;
 }
 pre {
  padding: 10px;
 }
 blockquote {
  border-left: 5px solid var(--indigo);
  padding-left: 10px;
 }
</style>