<template id="beranda">
 <div>
  <p><strong>Proyek pribadi <a href="https://github.com/mzaini30/mzaini30.github.io/edit/master/_config.yml" class="badge badge-secondary">edit</a></strong></p>
  <div class="ke-samping">
   <div>
    {% assign proyek_pribadi = site.proyek_pribadi | reverse | limit: 4 %}
    {% for x in proyek_pribadi %}
     <div class="card card-scroll">
      <img class="card-img-top" src="{{ x.gambar }}">
     </div>&nbsp;
    {% endfor %}
    <img src="aset/kanan.png" class="card-scroll kanan">
   </div>
   <br>
  </div>
  <strong>Teknologi yang aku gunakan <a href="https://github.com/mzaini30/mzaini30.github.io/edit/master/_config.yml" class="badge badge-secondary">edit</a></strong>
  <div class="ke-samping">
   <p class="jarak-atas">
    {% assign skill = site.skill | sort %}
    {% for x in skill %}
     <span class="badge badge-success">{{ x }}</span>&nbsp;
    {% endfor %}
   </p>
  </div>
 </div>
</template>
<script>
 beranda = {
  template: "#beranda"
 }
</script>
<style>
 .ke-samping {
  width: 100%;
  overflow: auto;
  white-space: nowrap;
 }
 .card-scroll {
  display: inline-block;
  width: 100px;
 }
 .kanan {
  width: 50px;
  margin: 20px;
 }
 .jarak-atas {
  padding-top: 15px;
 }
</style>