<template id="beranda">
 <div>
  <p><strong>Blog <a href="https://github.com/mzaini30/mzaini30.github.io/new/master/_posts" class="badge badge-secondary">tambah</a></strong></p>
  <div class="list-group">
   {% assign postingan = site.posts %}
   {% for x in postingan | limit: 4 %}
    <router-link to="{{ x.url }}" class="list-group-item list-group-item-action">{{ x.title }}</router-link>
   {% endfor %}
  </div>
  <br>
  <p><strong>Proyek pribadi <a href="https://github.com/mzaini30/mzaini30.github.io/edit/master/_config.yml" class="badge badge-secondary">edit</a></strong></p>
  <div class="ke-samping">
   <div>
    {% assign proyek_pribadi = site.proyek_pribadi | reverse %}
    {% for x in proyek_pribadi | limit: 4 %}
     <div class="card card-scroll klik" @click="buka('{{ x.link }}')">
      <img class="card-img-top" src="{{ x.gambar }}">
     </div>&nbsp;
    {% endfor %}
    <img src="aset/kanan.png" class="card-scroll kanan" @click="$router.push('/proyek-pribadi')">
   </div>
   <br>
  </div>
  <strong>Teknologi yang aku gunakan <a href="https://github.com/mzaini30/mzaini30.github.io/edit/master/_config.yml" class="badge badge-secondary">edit</a></strong>
  <div class="ke-samping">
   <p class="jarak-atas">
    {% assign skill = site.skill | sort %}
    {% for x in skill %}
     <span class="badge badge-success">{{ x }}</span>&nbsp;
    {% endfor %}
   </p>
  </div>
  <p><strong>Pencapaian <a href="https://github.com/mzaini30/mzaini30.github.io/edit/master/_config.yml" class="badge badge-secondary">edit</a></strong></p>
  <div class="ke-samping">
   <div>
    {% assign pencapaian = site.pencapaian | reverse %}
    {% for x in pencapaian | limit: 4 %}
     <div class="card card-scroll">
      <img class="card-img-top" src="{{ x }}">
     </div>&nbsp;
    {% endfor %}
    <img src="aset/kanan.png" class="card-scroll kanan" @click="$router.push('/pencapaian')">
   </div>
 </div>
</template>
<script>
 beranda = {
  template: "#beranda",
  methods: {
   buka(x){
    location.href = x
   }
  }
 }
</script>
<style>
 .ke-samping {
  width: 100%;
  overflow: auto;
  white-space: nowrap;
 }
 .card-scroll {
  display: inline-block;
  width: 100px;
 }
 .kanan {
  width: 50px;
  margin: 20px;
 }
 .jarak-atas {
  padding-top: 15px;
 }
</style>