<template id="beranda">
 <div>
  <p><strong>Proyek pribadi</strong></p>
  <div class="ke-samping">
   <div>
    <span v-for="x in 4">
     <div class="card card-scroll">
      <img class="card-img-top" src="aset/thumbnail.png">
     </div>&nbsp;
    </span>
    <img src="aset/kanan.png" class="card-scroll kanan">
   </div>
   <br>
  </div>
  <p><strong>Proyek komersial</strong></p>
  <div class="ke-samping">
   <div>
    <span v-for="x in 4">
     <div class="card card-scroll">
      <img class="card-img-top" src="aset/thumbnail.png">
     </div>&nbsp;
    </span>
    <img src="aset/kanan.png" class="card-scroll kanan">
   </div>
   <br>
  </div>
  <strong>Teknologi yang aku gunakan</strong>
  <div class="ke-samping">
   <p class="jarak-atas">
    {% assign skill = site.skill | sort %}
    {% for x in skill %}
     <span class="badge badge-success">{{ x }}</span>&nbsp;
    {% endfor %}
   </p>
  </div>
 </div>
</template>
<script>
 beranda = {
  template: "#beranda"
 }
</script>
<style>
 .ke-samping {
  width: 100%;
  overflow: auto;
  white-space: nowrap;
 }
 .card-scroll {
  display: inline-block;
  width: 100px;
 }
 .kanan {
  width: 50px;
  margin: 20px;
 }
 .jarak-atas {
  padding-top: 15px;
 }
</style>