<!--[if lt IE 9]><div class="upgrade"><strong><a href="http://whatbrowser.org/">Your browser is quite old!</strong> Why not upgrade to a different browser to better enjoy this site?</a></div><![endif]-->

<!-- HEADER IMAGE -->
<center>
    <span class="main-header-image">
        <a href="{{ site.url }}/"><img src="{{ site.url }}/images/header/jean d arc.png"></a>
    </span>
</center>

<!-- NAVIGATION -->
<br><br>
<center>
    <span class="navigation-bar">
        <a href="{{ site.url }}/">BERANDA</a>
        <a href="{{ site.url }}/tags/#cerpen">CERPEN</a>
        <a href="{{ site.url }}/archives/">ARSIP</a>
        <!-- <a href="{{ site.url }}/tags/">TAG</a> -->
        <a href="/2018/01/13/about-me.html">TENTANGKU</a>
        <a href="http://muhammadzaini.com/2018/01/23/kerja-sama.html">KERJA-SAMA</a>
        <!-- <a href="{{ site.url }}/feed.xml">RSS</a> -->
        <a href="javascript:cari=prompt('Tentang apa yang mau kamu cari?');location.href='{{ site.url }}/cari.html?q='+cari;">CARI</a>
    </span>
</center> 

<!-- <div>
    { include feedjit.html }
</div> -->