<!--[if lt IE 9]><div class="upgrade"><strong><a href="http://whatbrowser.org/">Your browser is quite old!</strong> Why not upgrade to a different browser to better enjoy this site?</a></div><![endif]-->

<!-- HEADER IMAGE -->
<center>
    <span class="main-header-image">
        <a href="{{ site.url }}/"><img src="{{ site.url }}/images/al kahfi.png"></a>
    </span>
</center>

<!-- NAVIGATION -->
<br><br>
<center>
    <span class="navigation-bar">
        <a href="{{ site.url }}/">BERANDA</a>
        <a href="{{ site.url }}/tags/#cerpen">CERPEN</a>
        <a href="{{ site.url }}/archives/">ARSIP</a>
        <!-- <a href="{{ site.url }}/tags/">TAG</a> -->
        <a href="/2018/01/13/about-me.html">TENTANGKU</a>
        <a href="http://muhammadzaini.com/2018/01/23/kerja-sama.html">KERJA-SAMA</a>
        <a href="http://muhammadzaini.com/2018/01/24/langganan-blog.html">LANGGANAN-BLOG</a>
        <!-- <a href="{{ site.url }}/feed.xml">RSS</a> -->
        <a href="javascript:cari=prompt('Tentang apa yang mau kamu cari?');location.href='{{ site.url }}/cari.html?q='+cari;">CARI</a>
    </span>
</center> 

<!-- Histats.com  (div with counter) --><div id="histats_counter" style="display: none;"></div>
<!-- Histats.com  START  (aync)-->
<script type="text/javascript">var _Hasync= _Hasync|| [];
_Hasync.push(['Histats.start', '1,3995429,4,501,95,18,00010000']);
_Hasync.push(['Histats.fasi', '1']);
_Hasync.push(['Histats.track_hits', '']);
(function() {
var hs = document.createElement('script'); hs.type = 'text/javascript'; hs.async = true;
hs.src = ('//s10.histats.com/js15_as.js');
(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(hs);
})();</script>
<noscript><a href="/" target="_blank"><img  src="//sstatic1.histats.com/0.gif?3995429&101" alt="" border="0"></a></noscript>
<!-- Histats.com  END  -->