<template id="cari">
 <div>
  <form @submit.prevent="$router.push('/cari/' + encodeURIComponent(cari))">
   <div class="form-group">
    <input type="search" class="form-control" placeholder="Cari apa?" v-model="cari" ref="cari" required="">
   </div>
  </form>
  <div class="list-group">
   <router-link v-for="x in data" :to="x.slug" class="list-group-item list-group-item-action"><< x.title >> <span class="badge badge-dark" v-if="x.diisi == false">Belum diisi</span></router-link>
  </div>
  <br>
 </div>
</template>
<script>
 cari = {
  template: "#cari",
  delimiters: ["<<", ">>"],
  methods: {
   tampil(){
    if (this.$route.params.cari){
     this.cari = decodeURIComponent(this.$route.params.cari)
     loading()
     fetch("/semua.json").then(x => x.json()).then(data => {
      ada = []
      for (x of data){
       if (x.title.toLowerCase().includes(this.cari.toLowerCase()) || x.content.toLowerCase().includes(this.cari.toLowerCase())){
        ada.push(x)
       }
       this.data = [...new Set(ada)]
       if (this.data.length == 0){
        this.data = [
         {
          "title": `${this.cari} tidak ditemukan`,
          "slug": "/cari"
         }
        ]
       }
      }
      loading_selesai()
     })
    } else {
     this.cari = ""
     this.data = []
     this.$refs.cari.focus()
    }
   }
  },
  mounted(){
   this.tampil()
  },
  watch: {
   $route(){
    this.tampil()
   }
  },
  data(){
   return {
    cari: "",
    data: []
   }
  }
 }
</script>