<hr style="border-color: rgb(68, 138, 255);">
<center>
	<p style="margin-bottom: 20px;">Copyright &copy; 2018 Zen All Right Reserved - Created by <a href="http://muhammadzaini.com">Zen</a></p>
</center>
<div id='bawah'></div>

<div class="up">
	<a href="#">
		<img src="https://s25.postimg.org/dwc08vg67/image.png">
	</a>
</div>
<style type="text/css">
	.up {
		position: fixed;
		right: 20px;
		bottom: 20px;
		cursor: pointer;
	}
	.up img {
		width: 40px;
		height: auto;
	}
</style>

<div class="bottom">
	<a href="#bawah">
		<img src="https://s25.postimg.org/dwc08vg67/image.png">
	</a>
</div>
<style type="text/css">
	.bottom {
		position: fixed;
		left: 20px;
		bottom: 20px;
		cursor: pointer;
	}
	.bottom img {
		width: 40px;
		height: auto;
		transform: rotate(180deg);
		-o-transform: rotate(180deg);
		-ms-transform: rotate(180deg);
		-moz-transform: rotate(180deg);
		-webkit-transform: rotate(180deg);
	}
</style>