<hr style="border-color: rgb(68, 138, 255);">
<center>
	<p style="margin-bottom: 20px;">Copyright &copy; 2018 Zen All Right Reserved - Created by <a href="http://muhammadzaini.com">Zen</a></p>
</center>
<script type="text/javascript">
	document.writeln('<scri'+'pt type=\"text/javascript\" src=\'/bin/hc-sticky.js?'+Math.random()+'\'></scr'+'ipt>');
</script>
<script type="text/javascript">
	jQuery(function($){
		$(window).on('load', function(){
			if ($(window).width() > 768){
				if ($('.main').height() < $('.sidebar').height()){
					$('.main').hcSticky({
						stickTo: '.stick-parent'
					});
				} else if ($('.main').height() > $('.sidebar').height()){
					$('.sidebar').hcSticky({
						stickTo: '.stick-parent'
					});
				}
			}
		});
	});
</script>