<div>
	<br>
	<center>
		<p>
			<a href="http://facebook.com/mzaini30" class="badge badge-default" style="background: rgb(33, 150, 243); color: white;">Facebook</a>
			<a href="http://muhammadzaini.com/2018/02/13/blogwalking.html" class="badge badge-default" style="background: rgb(255, 87, 34); color: white;">BW</a>
			<a href="https://api.whatsapp.com/send?phone=6281545143654" class="badge badge-default" style="background: rgb(76, 175, 80); color: white;">WA</a>
			<a href="http://github.com/mzaini30" class="badge badge-default" style="background: rgb(158, 158, 158); color: white;">Github</a>
			<a href="javascript:cari=prompt('Tentang apa yang mau kamu cari?');location.href='{{ site.url }}/cari.html?q='+cari;" class="badge badge-default" style="background: rgb(244, 67, 54); color: white;">Cari</a>
		</p>
	</center>
	<center>
		<a href="/">
			<img src="https://s25.postimg.org/j0yz1v5fz/judul_blog.png">
		</a>
	</center>
	<center>
		<p>
			<a href="/kategori/artikel.html" class="badge badge-default" style="background: rgb(244, 67, 54); color: white;">Artikel</a>
			<a href="/kategori/cerpen.html" class="badge badge-default" style="background: rgb(233, 30, 99); color: white;">Cerpen</a>
			<a href="/kategori/list.html" class="badge badge-default" style="background: rgb(156, 39, 176); color: white;">List</a>
			<a href="/kategori/musik.html" class="badge badge-default" style="background: rgb(103, 58, 183); color: white;">Musik</a>
			<a href="/kategori/pemrograman.html" class="badge badge-default" style="background: rgb(63, 81, 181); color: white;">Pemrograman</a>
			<a href="/kategori/puisi.html" class="badge badge-default" style="background: rgb(33, 150, 243); color: white;">Puisi</a>
		</p>
	</center>
	<hr style="border-color: rgb(0, 188, 212);">
</div>