<div>
	<center>
		<p>
			<a href="http://facebook.com/mzaini30" class="badge badge-default" style="background: rgb(33, 150, 243); color: white;">Facebook</a>
			<a href="http://muhammadzaini.com/2018/02/13/blogwalking.html" class="badge badge-default" style="background: rgb(255, 87, 34); color: white;">BW</a>
			<a href="https://api.whatsapp.com/send?phone=6281545143654" class="badge badge-default" style="background: rgb(76, 175, 80); color: white;">WA</a>
			<a href="http://github.com/mzaini30" class="badge badge-default" style="background: rgb(158, 158, 158); color: white;">Github</a>
			<a href="javascript:cari=prompt('Tentang apa yang mau kamu cari?');location.href='{{ site.url }}/cari.html?q='+cari;" class="badge badge-default" style="background: rgb(244, 67, 54); color: white;">Cari</a>
		</p>
	</center>
	<h1 class="text-center">
		<a href='/' style="text-decoration: none; color: rgb(156, 39, 176);">Zen</a>
	</h1>
	<hr style="border-color: rgb(0, 188, 212);">
</div>