<div>
	<h1 class="text-center">
		<a href='/' style="text-decoration: none; color: rgb(156, 39, 176);">Zen</a>
	</h1>
	<center>
		<p>
			<a href="http://facebook.com/mzaini30" class="badge badge-default" style="background: rgb(33, 150, 243); color: white;">Facebook</a>
			<a href="http://line.me/ti/p/~mzaini30" class="badge badge-default" style="background: rgb(0, 230, 118); color: white;">LINE</a>
			<a href="https://api.whatsapp.com/send?phone=6281545143654" class="badge badge-default" style="background: rgb(76, 175, 80); color: white;">WA</a>
			<a href="http://github.com/mzaini30" class="badge badge-default" style="background: rgb(158, 158, 158); color: white;">Github</a>
			<a href="javascript:cari=prompt('Tentang apa yang mau kamu cari?');location.href='{{ site.url }}/cari.html?q='+cari;" class="badge badge-default" style="background: rgb(255, 61, 0); color: white;">Cari</a>
		</p>
	</center>
	<hr style="border-color: rgb(0, 188, 212);">
</div>