<!DOCTYPE HTML>
<html>
 <head>
  {% seo %}
  <title>Zen</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/vendor/bootstrap.min.css">
  <link rel="stylesheet" href="/vendor/progress.css">
  <link rel="stylesheet" href="/vendor/monokai.css">
 </head>
 <body>
  <div class="vue">
   <div class="progress-loading sembunyi">
    <div class="indeterminate"></div>
   </div>
   <div class="container">
    <br>
    <h1 class="text-center" @click="$router.push('/')">Zen</h1>
    <hr>
    <router-view></router-view>
   </div>
  </div>
  {% include semua.html %}
  {% include baca.html %}
  {% include nggak_ada.html %}
  <script src="/vendor/vue.min.js"></script>
  <script src="/vendor/vue-router.min.js"></script>
  <script src="/vendor/progress.js"></script>
  <script>
   new Vue({
    el: ".vue",
    watch: {
     $route(){
      window.scrollTo(0, 0)
     }
    },
    router: new VueRouter({
     mode: "history",
     routes: [
      {
       path: "/",
       component: semua
      },
      {
       path: "/:slug",
       component: baca
      },
      {
       path: "*",
       component: nggak_ada
      }
     ]
    })
   })
  </script>
 </body>
</html>