<!DOCTYPE HTML>
<html>
 <head>
  {% seo %}
  <title>Zen</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/vendor/bootstrap.min.css">
  <link rel="stylesheet" href="/vendor/progress.css">
  <link rel="stylesheet" href="/vendor/monokai.css">
  <style>
   .klik {
    cursor: pointer;
   }
   .container {
    max-width: 600px;
   }
   .menu {
    width: 100%;
    overflow: auto;
    white-space: nowrap;
   }
  </style>
 </head>
 <body>
  <div class="vue">
   <div class="progress-loading sembunyi">
    <div class="indeterminate"></div>
   </div>
   <div class="container">
    <br>
    <h1 class="text-center klik" @click="$router.push('/')">Zen</h1>
    <p class="text-center">WA: <a href="https://wa.me/6281545143654">081545143654</a></p>
    {% assign kategori = site.categories | sort %}
    <div class="menu">
      {% for x in kategori %}
        <router-link class="badge badge-dark" to='/kategori/{{ x[0] }}'>{{ x[0] }}</router-link>
      {% endfor %}
    </div>
    <hr>
    <router-view></router-view>
   </div>
  </div>
  {% include baca.html %}
  {% include semua.html %}
  {% include nggak_ada.html %}
  {% include cari.html %}
  {% include kategori.html %}
  <!--
  <script src="/vendor/vconsole.min.js"></script>
  <script>
   new VConsole
  </script>
  -->
  <script src="/vendor/vue.min.js"></script>
  <script src="/vendor/vue-router.min.js"></script>
  <script src="/vendor/progress.js"></script>
  <script>
   new Vue({
    el: ".vue",
    watch: {
     $route(){
      window.scrollTo(0, 0)
     }
    },
    mounted(){
     window.scrollTo(0, 0)
    },
    router: new VueRouter({
     mode: "history",
     routes: [
      {
       path: "/",
       component: semua
      },
      {
        path: '/kategori/:kategori',
        component: kategori
      },
      {
       path: "/cari/:cari?",
       component: cari
      },
      {
       path: "/:slug",
       component: baca
      },
      {
       path: "*",
       component: nggak_ada
      }
     ]
    })
   })
  </script>
 </body>
</html>