<template id="kategori">
	<div>
		<< data >>
		<< $route.params.kategori >>
		<div class="list-group">
			<router-link :to='x.slug' v-for='x in data' class='list-group-item list-group-item-action'><< x.title >> <span v-if='x.jumlah_kata == 0' class="badge badge-dark">belum diisi</span> <span class="badge badge-success" v-if='x.jumlah_kata >= 400'>lengkap</span></router-link>
		</div>
	</div>
</template>
<script type="text/javascript">
	kategori = {
		template: '#kategori',
		delimiters: ['<<', '>>'],
		data(){
			return {
				data: []
			}
		},
		methods: {
			ambil_data(){
				loading()
				kategorinya = this.$route.params.kategori
				fetch('/list.json').then(x => x.json()).then(data => {
					this.data = []
					for (x in data){
						if (x.category == kategorinya) {
							this.data.push(x)
							console.log(`${x.category} == ${this.$route.params.kategori}`)
						}
					}
					loading_selesai()
				})
			}
		},
		mounted(){
			this.ambil_data()
		},
		watch: {
			$route(){
				this.ambil_data()
			}
		}
	}
</script>