<template id="kategori">
	<div>
		<h2>Kategori <span class="nama-kategori"><< hapus_strip($route.params.kategori) >></span></h2>
		<div class="list-group">
			<router-link :to='x.slug' v-for='x in data' class='list-group-item list-group-item-action'><< x.title >> <span v-if='x.jumlah_kata == 0' class="badge badge-dark">belum diisi</span></router-link>
		</div>
		<br>
	</div>
</template>
<script type="text/javascript">
	kategori = {
		template: '#kategori',
		delimiters: ['<<', '>>'],
		data(){
			return {
				data: []
			}
		},
		methods: {
			ambil_data(){
				loading()
				fetch('/list.json').then(x => x.json()).then(data => {
					this.data = []
					for (x of data){
						if (x.category == this.$route.params.kategori) {
							this.data.push(x)
						}
					}
					loading_selesai()
				})
			},
			hapus_strip(x){
				return x.replace(/\-/g, ' ')
			}
		},
		mounted(){
			this.ambil_data()
		},
		watch: {
			$route(){
				this.ambil_data()
			}
		}
	}
</script>