<template id="postingan">
 <div class="postingan">
  <h1>{% raw %}{{ postingan.title }}{% endraw %}</h1>
  <p>
   <a :href="'https://github.com/mzaini30/mzaini30.github.io/edit/master/' + postingan.path" class="badge badge-secondary">edit</a>
   <a :href="'https://github.com/mzaini30/mzaini30.github.io/delete/master/' + postingan.path" class="badge badge-secondary">hapus</a>
   <router-link to="/cari" class="badge badge-secondary">cari</router-link>
  </p>
  <div v-html="postingan.content"></div>
  <div id="SC_TBlock_785328" class="SC_TBlock">loading...</div> 
  <p><strong>Postingan lainnya</strong></p>
  <div class="list-group">
   <router-link v-for="x in postingan.lainnya" class="list-group-item list-group-item-action" :to="x.url">{% raw %}{{ x.title }}{% endraw %}</router-link>
  </div>
 </div>
</template>
<script>
 postingan = {
  template: "#postingan",
  methods: {
   tampilkan(){
    (sc_adv_out = window.sc_adv_out || []).push({
      id : "785328",
      domain : "n.ads1-adnow.com"
    });
    loading()
    fetch(`${this.$route.params.slug}.html`).then(x => x.json()).then(data => {
     this.postingan = data
     loading_selesai()
    })
   }
  },
  mounted(){
   this.tampilkan()
  },
  watch: {
   $route(){
    this.tampilkan()
   }
  },
  data(){
   return {
    postingan: {}
   }
  }
 }
</script>
<style>
 .postingan img {
  display: block;
  margin: auto;
 }
</style>