<template id="postingan">
 <div class="postingan">
  <h1>{% raw %}{{ postingan.title }}{% endraw %}</h1>
  <p>
   <a :href="'https://github.com/mzaini30/mzaini30.github.io/edit/master/' + postingan.path" class="badge badge-secondary">edit</a>
   <a :href="'https://github.com/mzaini30/mzaini30.github.io/delete/master/' + postingan.path" class="badge badge-secondary">hapus</a>
  </p>
  <div v-html="postingan.content"></div>
 </div>
</template>
<script>
 postingan = {
  template: "#postingan",
  mounted(){
   loading()
   fetch(`/${this.$route.params.slug}.html`).then(x => x.json()).then(data => {
    this.postingan = data
    loading_selesai()
   })
  },
  data(){
   return {
    postingan: {}
   }
  }
 }
</script>
<style>
 .postingan img {
  display: block;
  margin: auto;
 }
</style>