<template id="proyek_pribadi">
 <div>
  <p><strong>Proyek pribadi <a href="https://github.com/mzaini30/mzaini30.github.io/edit/master/_config.yml" class="badge badge-secondary">edit</a></strong></p>
  <div class="row">
   {% assign proyek_pribadi = site.proyek_pribadi | reverse %}
   {% for x in proyek_pribadi %}
    <div class="col-4">
     <a class="card gambar-proyek-pribadi" href="{{ x.link }}">
      <img class="card-img-top" src="{{ x.gambar }}">
     </a>
    </div>
   {% endfor %}
  </div>
 </div>
</template>
<script>
 proyek_pribadi = {
  template: "#proyek_pribadi"
 }
</script>
<style>
 img {
  max-width: 100%;
 }
 .gambar-proyek-pribadi {
  display: block;
  margin-bottom: 20px;
 }
</style>