<div class="element"></div>
<div class="element">
	<div data-type="countdown" data-id="1043155" class="tickcounter" style="width: 100%; position: relative; padding-bottom: 25%"><a href="//www.tickcounter.com/countdown/1043155/puasa-ramadhan" title="Puasa Ramadhan">Puasa Ramadhan</a><a href="//www.tickcounter.com/" title="Countdown">Countdown</a></div><script>(function(d, s, id) { var js, pjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return; js = d.createElement(s); js.id = id; js.src = "//www.tickcounter.com/static/js/loader.js"; pjs.parentNode.insertBefore(js, pjs); }(document, "script", "tickcounter-sdk"));</script>
</div>
<div class="element">
	<!-- Include the library. -->
	<script
	  src="https://unpkg.com/github-calendar@latest/dist/github-calendar.min.js"
	></script>

	<!-- Optionally, include the theme (if you don't want to struggle to write the CSS) -->
	<link
	   rel="stylesheet"
	   href="https://unpkg.com/github-calendar@latest/dist/github-calendar-responsive.css"
	/>

	<!-- Prepare a container for your calendar. -->
	<div class="calendar">
	    <!-- Loading stuff -->
	    Loading the data just for you.
	</div>

	<script>
	    // GitHubCalendar(".calendar", "your-username");
	    // or enable responsive functionality
	    GitHubCalendar(".calendar", "mzaini30", { responsive: true });
	</script>
</div>
<div class="element">
	<a href="https://data.typeracer.com/pit/profile?user=mzaini30&ref=badge"><img src="https://data.typeracer.com/misc/badge?user=mzaini30" alt=""></a>
</div>
<div class="element">
	<img src="https://projecteuler.net/profile/mzaini30.png" alt="">
</div>
<div class="element">
	<div id="gr_challenge_8863" style="border: 2px solid #EBE8D5; border-radius:10px; padding: 0px 7px 0px 7px; max-width:230px; min-height: 100px">
	  <div id="gr_challenge_progress_body_8863" style="font-size: 12px; font-family: georgia,serif;line-height: 18px">
	    <h3 style="margin: 4px 0 10px; font-weight: normal; text-align: center">
	      <a style="text-decoration: none; font-family:georgia,serif;font-style:italic; font-size: 1.1em" rel="nofollow" href="https://www.goodreads.com/challenges/8863-2019-reading-challenge">2019 Reading Challenge</a>
	    </h3>
	        <div class="challengePic">
	          <a rel="nofollow" href="https://www.goodreads.com/challenges/8863-2019-reading-challenge"><img alt="2019 Reading Challenge" style="float:left; margin-right: 10px; border: 0 none" src="https://images.gr-assets.com/challenges/1542320733p2/8863.jpg" /></a>
	        </div>
	      <div>
	        <a rel="nofollow" href="https://www.goodreads.com/user/show/12064084-zen">Zen</a> has
	             read 2 books toward
	             his goal of
	             12 books.
	      </div>
	      <div style="width: 100px; margin: 4px 5px 5px 0; float: left; border: 1px solid #382110; height: 8px; overflow: hidden; background-color: #FFF">
	        <div style="width: 16%; background-color: #D7D2C4; float: left"><span style="visibility:hidden">hide</span></div>
	      </div>
	      <div style="font-family: arial, verdana, helvetica, sans-serif;font-size:90%">
	        <a rel="nofollow" href="https://www.goodreads.com/user_challenges/16938576">2 of 12 (16%)</a>
	      </div>
	        <div style="text-align: right;">
	          <a style="text-decoration: none; font-size: 10px;" rel="nofollow" href="https://www.goodreads.com/user_challenges/16938576">view books</a>
	        </div>
	  </div>
		<script src="https://www.goodreads.com/user_challenges/widget/12064084-zen?challenge_id=8863&v=2"></script>
	</div>
</div>
<div class="element">
	<a href="https://info.flagcounter.com/cXQQ"><img src="https://s04.flagcounter.com/count2/cXQQ/bg_FFFFFF/txt_000000/border_CCCCCC/columns_2/maxflags_10/viewers_0/labels_0/pageviews_1/flags_0/percent_0/" alt="Flag Counter" border="0"></a>
</div>
<div class="element">
	<div style="max-width:200px; font-size: 12px; word-wrap: break-word; text-align:center; background-color: #ffffff; border: 1px solid #dddddd; -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.05); box-shadow: 0 1px 1px rgba(0,0,0,0.05); margin: auto; margin-bottom: 10px;">
		<div style="color: #333333; background-color: #f5f5f5; padding:5px; border-bottom: 1px solid #dddddd;">
			<a style="color: #008cba; text-decoration: underline;" href="http://ceksite.com/id/cost/muhammadzaini.com" target="_blank">muhammadzaini.com</a>
		</div>
		<div style="padding:5px; color: #222222; line-height: 1.5;">
			Harga estimasi
			<br/>
			&#8226;&nbsp;
			<span style="font-size: 14px">
				<strong>Rp 1.796.441</strong>
			</span>
			&nbsp;&#8226;
		</div>
	</div>
</div>