<div class="up">
	<img src="/images/up.png">
</div>
<style type="text/css">
	.up {
		position: fixed;
		right: 20px;
		bottom: 20px;
		cursor: pointer;
	}
	.up img {
		width: 40px;
		height: auto;
	}
</style>
<script type="text/javascript">
	jQuery(function($){
		if ($(window).scrollTop() < 300){
			$(".up").hide();
		}
		$(window).scroll(function(){
			if ($(this).scrollTop() > 300){
				$(".up").fadeIn();
			} else {
				$(".up").fadeOut();
			}
		});
		$(".up").click(function(){
			$("body, html").animate({
				scrollTop: 0
			}, 1000);
			return false;
		});
	});
</script>