<!-- <link rel="stylesheet" type="text/css" href="/bin/jquery-sakura.min.css">
<script type="text/javascript" src="/bin/jquery-sakura.min.js"></script>
<div class="wadah-sakura"></div>
<style type="text/css">
    .wadah-sakura {
        width: 100%;
        height: 100%;
        position: fixed;
        z-index: 10;
        top: 0;
        left: 0;
        pointer-events: none;
    }
</style>
<script type="text/javascript">
	jQuery(function($){
		$(".wadah-sakura").sakura()
	});
</script> -->

<div class="up">
	<img src="/images/up.png">
</div>
<style type="text/css">
	.up {
		position: fixed;
		right: 30px;
		bottom: 30px;
	}
	.up img {
		width: 300px;
		height: auto;
	}
</style>
<script type="text/javascript">
	jQuery(function($){
		$(".up").hide();
		$(window).scroll(function(){
			if ($(this).scrollTop() > 1000){
				$(".up").fadeIn();
			} else {
				$(".up").fadeOut();
			}
		});
		$(".up").click(function(){
			$("body, html").animate({
				scrollTop: 0
			}, 1000);
			return false;
		});
	});
</script>