/* youtube*/

.embed-container { 
	position: relative; 
	padding-bottom: 56.25%; 
	height: 0; 
	overflow: hidden; 
	max-width: 100%; 
	margin-bottom: 10px;
} 
.embed-container iframe, 
.embed-container object, 
.embed-container embed { 
	position: absolute; 
	top: 0; 
	left: 0; 
	width: 100%; 
	height: 100%; 
}

.m-article-content hr {
	margin: 20px auto;
}

/* goodreads */
.gr_grid_container .gr_grid_book_container img {
	width: 100%;
}
@media (max-width: 801px){
	.gr_grid_container .gr_grid_book_container {
		width: 20%;
		height: 315px;
	}
}
@media (max-width: 701px){
	.gr_grid_container .gr_grid_book_container {
		width: 25%;
		height: 274px;
	}
}
@media (max-width: 601px){
	.gr_grid_container .gr_grid_book_container {
		width: 25%;
		height: 233px;
	}
}
@media (max-width: 501px){
	.gr_grid_container .gr_grid_book_container {
		width: 33.3%;
		height: 254px;
	}
}
@media (max-width: 401px){
	.gr_grid_container .gr_grid_book_container {
		width: 33.3%;
	}
}
@media (max-width: 301px){
	.gr_grid_container .gr_grid_book_container {
		width: 33.3%;
	}
}