* {
	direction: all;
	word-wrap: break-word;
}

body {
	padding-top: 70px;
	margin: auto;
}

.table.tanpa_header tr:nth-child(1) td {
	border-top: none;
}

.jumbotron {
	background-color: transparent;
}

.jelajah .list-group-item,
.jelajah2 .element,
.sembunyi {
	display: none;
}

.list-group.more {
	margin-bottom: 10px;
}

.element {
	margin-bottom: 20px;
}

img {
	max-width: 100%;
	display: block;
	margin: auto;
}

.full img {
	width: 100%;
}

.more,
.judul_kategori {
	text-transform: capitalize;
}

/* goodreads */

#gr_challenge_8863 {
	margin: auto;
}