body {
	padding-top: 70px;
}

.right-text {
	float: right;
	display: table;
}

img {
	max-width: 100%;
}

.banner {
	margin-bottom: 20px;
}

.link-home {
	text-decoration: none !important;
}

.link-home img {
	width: 100%;
}

.link-home h1 {
	margin-bottom: 20px;
}

.postingan img {
	display: block;
	margin: auto;
}

.desktop {
	display: block;
}
.mobile {
	display: none;
}

@media (max-width: 768px){
	.dekstop {
		display: none;
	}
	.mobile {
		display: none;
	}
}