body {
	padding-top: 70px;
}

.rating {
	width: 20%;
}

.minat {
	display: none;
}

img {
	max-width: 100%;
	height: auto;
}

.untuk-gambar {
	width: 30%;
}

.medium * {
  word-wrap: break-word;
}

.medium img {
	display: block;
	margin: auto;
}

.isi-postingan a {
	text-decoration: none;
	color: black;
}

.jarak {
    width: 100%;
    height: 20px;
}