<template id="beranda_terbaru">
	<div>
		<ul class="beranda_terbaru-index">
			<li v-for='x in data'>
				<router-link :to='x.slug'>
					<img :alt="x.judul" :src="x.gambar">
					<p v-text='x.judul'></p>
				</router-link>
			</li>
		</ul>
	</div>
</template>
<script type="text/javascript">
	beranda_terbaru = {
		template: '#beranda_terbaru',
		data(){
			return {
				data: []
			}
		},
		mounted(){
			fetch(`api/terbaru.json`).then(x => x.json()).then(data => this.data = data);
		}
	}
</script>