<template id="todo_all">
	<div>
		<div class="jarak-atas">&nbsp;</div>
		<div class="container">
			<div class="form-group">
				<router-link to='/' class='btn btn-primary'>Beranda</router-link>
			</div>
			<div class="list-group">
				<router-link v-for='x in data' :to='"/todo/" + x.id' class="list-group-item">{% raw %}{{ x.todo }}{% endraw %}</router-link>
			</div>
		</div>
		<div class="jarak-bawah">&nbsp;</div>
		<div class="navbar navbar-default navbar-fixed-bottom">
			<div class="container">
				<table class="table table-bordered">
					<tbody>
						<tr>
							<td>
								<form action="" @submit.prevent='tambah()'>
									<input type="text" class="form-control" placeholder="Apa rencanamu?" required="" v-model='isian'>
								</form>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</template>
<style type="text/css">
	.navbar-fixed-bottom .table {
		margin-bottom: 0;
	}
	.navbar-fixed-bottom .table,
	.navbar-fixed-bottom tr,
	.navbar-fixed-bottom td {
		border: none !important;
	}
	.jarak-atas {
		width: 100%;
		height: 70px;
	}
	.jarak-bawah {
		width: 100%;
		height: 50px;
	}
</style>
<script type="text/javascript">
	todo_all = {
		template: '#todo_all',
		data(){
			return {
				data: [],
				isian: ''
			}
		},
		methods: {
			tambah(){
				db_todo.data.add({
					todo: this.isian
				}).then(() => {
					this.tampil()
					this.isian = ''
				})
			},
			tampil(){
				db_todo.data.reverse().toArray(data => this.data = data)	
			}
		},
		mounted(){
			this.tampil()
		}
	}
</script>