<template id="todo_baca">
	<div>
		<div class="jarak-atas">&nbsp;</div>
		<div class="container">
			<form action="" @submit.prevent='ubah()'>
				<div class="form-group">
					<input type="text" class="form-control" v-model='isinya' required="">
				</div>
				<div class="form-group">
					<input type="submit" class="btn btn-success" value="Ubah" name="">
					<button class="btn btn-danger" @click='hapus()'>Hapus</button>
				</div>
			</form>
		</div>
	</div>
</template>
<script type="text/javascript">
	todo_baca = {
		template: '#todo_baca',
		data(){
			return {
				isinya: ''
			}
		},
		methods: {
			ubah(){
				db_todo.data.where({
					id: Number(this.$route.params.id)
				}).modify({
					todo: this.isinya
				}).then(() => this.$router.push('/todo'))
			},
			hapus(){
				tanya = confirm('Hapus kah?')
				if (tanya){
					db_todo.data.where({
						id: Number(this.$route.params.id)		
					}).delete().then(() => this.$router.push('/todo'))
				}
			}
		},
		mounted(){
			db_todo.data.where({
				id: Number(this.$route.params.id)
			}).toArray(data => this.isinya = data[0].todo)
		}
	}
</script>