<!DOCTYPE html>
<html>
<head>
	{% include iklan-otomatis.html %}
	<title>Zen | blog psikologi</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{{ site.url }}/vendor/materialize/css/materialize.min.css">
	<link rel="stylesheet" type="text/css" href="{{ site.url }}/app/style.css">
</head>
<body>
	<div class="navbar-fixed">
		<nav>
			<div class="nav-wrapper indigo">
				<a href="{{ site.url }}" class="brand-logo center">Zen | blog psikologi</a>
			</div>
		</nav>
	</div>
	<div class="">
		{{ content }}
	</div>
</body>
</html>