---
---

<!DOCTYPE html>
<html>
<head>
	<title>{% if page.title %}{{ page.title }} - {% endif %}Zen - Minimal 400 Kata</title>
	{% include iklan-otomatis.html %}
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="/vendor/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/app/style.css">
	<link rel="icon" href="/favicon.ico">
</head>
<body>
	<div class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<a href="/" data-lagu='' class="navbar-brand top">Zen</a>
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
			        <span class="sr-only">Toggle navigation</span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			    </button>
			</div>
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		      <ul class="nav navbar-nav">
		        <li><a href="https://www.instagram.com/mzaini30" target="_blank">Instagram</a></li>
		        <li><a href="https://play.google.com/store/apps/dev?id=6751907367958089476" target="_blank">Play Store</a></li>
		      </ul>
		    </div>
		</div>
	</div>
	<div class="container isi">
		{{ content }}	
	</div>
	<br>
	<script type="text/javascript" src="/vendor/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="/vendor/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>