<!DOCTYPE html>
<html>
<head>
	{% include iklan-otomatis.html %}
	<title>Zen</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="/vendor/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/vendor/pygments-css/autumn.css">
</head>
<body>
	{% include navbar.html %}
	<div class="container">
		{{ content }}
	</div>
	<script type="text/javascript" src="/vendor/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="/vendor/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>