---
layout: compress
---

<!DOCTYPE html>
<html>
<head>
	<title>{{ page.title }} - Zen - Developer Ninja</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">

		<!-- facebook Open Graph Metadatas -->
	<!-- <meta content="your_facebook_app_id" property="fb:app_id"> -->
	<meta content="{{ site.title }}" property="og:site_name">
	{% if page.title %}
	  <meta content="{{ page.title }}" property="og:title">
	{% else %}
	  <meta content="{{ site.title }}" property="og:title">
	{% endif %}
	{% if page.title %}
	  <meta content="article" property="og:type">
	{% else %}
	  <meta content="website" property="og:type">
	{% endif %}
	{% if page.description %}
	  <meta content="{{ page.content | strip_html | truncatewords: 60 | replace: '\'', '' | replace: '"', '' }}" property="og:description">
	{% else %}
	  <meta content="{{ site.description }}" property="og:description">
	{% endif %}
	{% if page.url %}
	  <meta content="{{ site.url }}{{ page.url }}" property="og:url">
	{% endif %}
	{% if page.date %}
	  <meta content="{{ page.date | date_to_xmlschema }}" property="article:published_time">
	  <!-- <meta content="{{ site.url }}/about/" property="article:author"> -->
	{% endif %}
	{% if page.gambar %}
	  <meta content="{{ page.gambar }}" property="og:image">
	{% else %}
	  <meta content="{{ site.gambar }}" property="og:image">
	{% endif %}
	{% if page.categories %}
	  {% for category in page.categories limit:1 %}
	  <meta content="{{ category }}" property="article:section">
	  {% endfor %}
	{% endif %}
	{% if page.tags %}
	  {% for tag in page.tags %}
	  <meta content="{{ tag }}" property="article:tag">
	  {% endfor %}
	{% endif %}
	
	<link rel="stylesheet" type="text/css" href="/bin/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/bin/github.css">
	<style type="text/css">
		* {
			word-wrap: break-word;
			direction: all;
		}
		aside.gitter-chat-embed {
			z-index: 9999;
		}
		img {
			max-width: 100%;
			margin: auto;
			display: block;
			border-radius: 5px;
			-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			-ms-border-radius: 5px;
			-o-border-radius: 5px;
		}
		.cover {
			background-position: center;
			background-size: cover;
		}

		/* crop square */

		.cover-parent {
		  display: inline-block;
		  position: relative;
		  width: 100%;
		}

		.dummy {
		  margin-top: 100%;
		  /* 4:3 aspect ratio */
		}

		.cover {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			border-radius: 5px;
			-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			-ms-border-radius: 5px;
			-o-border-radius: 5px;
		}

		/* judul */

		.judul {
			height: 60px;
			overflow: hidden;
			text-align: left;
		}

	</style>
</head>
<body>

	<!-- logo situs -->

	<nav class="navbar navbar-default navbar-fixed-top">
		<a class="navbar-brand" href="/">Zen - Developer Ninja</a>
		<a class="btn btn-default navbar-btn" href="/blog">Blog</a>
	</nav>

	<div class="section" style="height: 70px; width: 100%;"></div>

	<!-- isi -->

	<div class="container">
		<h1 class="text-center telegram-title">{{ page.title }}</h1>
		<hr>
		{{ content }}
		<div class="well">
			<p>Dapatkan <em>update</em> dari blog Zen dengan mengklik media sosial di bawah ini!</p>
			<p>
				<a href="http://facebook.com/mzaini30" class="btn btn-primary" style="background: #4267b2; color: white;">Facebook</a>
				<a href="http://t.me/zensharing" class="btn btn-primary" style="background: #0088cc; color: white;">Telegram</a>
			</p>
		</div>
		<script>
		    ((window.gitter = {}).chat = {}).options = {
		        room: 'zen30/Lobby'
		    };
		</script>
		<script src="https://sidecar.gitter.im/dist/sidecar.v1.js" async defer></script>
		<div id="disqus_thread"></div>
		<script>

		/**
		*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
		*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
		
		var disqus_config = function () {
		this.page.url = '{{ site.url }}/{{ page.url }}';  // Replace PAGE_URL with your page's canonical URL variable
		// this.page.identifier = '{{ page.title.size }}'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
		};
		
		(function() { // DON'T EDIT BELOW THIS LINE
		var d = document, s = d.createElement('script');
		s.src = 'https://zen-4.disqus.com/embed.js';
		s.setAttribute('data-timestamp', +new Date());
		(d.head || d.body).appendChild(s);
		})();
		</script>
		<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
		                            
		<!-- <p>
			<a href="https://api.whatsapp.com/send?phone=6281545143654&text=Judul%3A%20{{ page.title }}%0ALink%3A%20{{ site.url }}{{ page.url }}%0AKomentar%3A%0A%0A" class="btn btn-danger" style="width: 100%;">Beri Komentar</a>
		</p> -->

		<hr>
		<p><strong>Tulisan lainnya</strong></p>
		{% assign random = site.time | date: "%s" %}
		{% assign acak_judul = page.title.size %}
		{% assign angka_postingan = page.date | date: "%s" | plus: random | plus: acak_judul %}
		<div class="row">
			{% for i in (1..12) %}
				{% assign postingan_selanjutnya = angka_postingan | plus: forloop.index0 | modulo: site.posts.size %}
				<div class="col-sm-3 col-xs-6">
					<a href="{{ site.posts[postingan_selanjutnya].url }}">
						<!-- https://stackoverflow.com/questions/5445491/height-equal-to-dynamic-width-css-fluid-layout -->
						<div class="cover-parent">
							<div class="dummy"></div>
							<div style="background-image: url('{{ site.posts[postingan_selanjutnya].gambar }}');" class="cover"></div>
						</div>
						<p class="judul">{{ site.posts[postingan_selanjutnya].title }}</p>
					</a>
				</div>
			{% endfor %}
		</div>
	</div>
	<div style="width: 100%; height: 42px;"></div>
</body>
</html>