---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
    <ul class="post-list">
      {%- for post in paginator.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
        <a href="{{ post.url | relative_url }}">Lanjutkan membaca &rarr;</a>
        {% unless forloop.last %}{% include iklan-list.html %}{% endunless %}
      </li>
      {%- endfor -%}

    </ul>

    {% if paginator.next_page %}
      <center>
        <p style="margin-bottom: 30px"><a href="{{ paginator.next_page_path }}">Berikutnya &rarr;</a></p>
      </center>
    {% endif %}

    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
  {%- endif -%}

</div>
