---
layout: post
---

{% for x in site.posts %}
	{% if x.tag == page.title %}
		<div class="element">
			<h1>
				{{ x.title }}
				{% if x.bahasa %}
					<div class="badge">{{ x.bahasa }}</div>
				{% endif %}
				{% if x.rating == 5 %}
					<span class="fa fa-star checked"></span>
					<span class="fa fa-star checked"></span>
					<span class="fa fa-star checked"></span>
					<span class="fa fa-star checked"></span>
					<span class="fa fa-star checked"></span>
				{% endif %}
				{% if x.rating == 4 %}
					<span class="fa fa-star checked"></span>
					<span class="fa fa-star checked"></span>
					<span class="fa fa-star checked"></span>
					<span class="fa fa-star checked"></span>
					<span class="fa fa-star"></span>
				{% endif %}
				{% if x.rating == 3 %}
					<span class="fa fa-star checked"></span>
					<span class="fa fa-star checked"></span>
					<span class="fa fa-star checked"></span>
					<span class="fa fa-star"></span>
					<span class="fa fa-star"></span>
				{% endif %}
				{% if x.rating == 2 %}
					<span class="fa fa-star checked"></span>
					<span class="fa fa-star checked"></span>
					<span class="fa fa-star"></span>
					<span class="fa fa-star"></span>
					<span class="fa fa-star"></span>
				{% endif %}
				{% if x.rating == 1 %}
					<span class="fa fa-star checked"></span>
					<span class="fa fa-star"></span>
					<span class="fa fa-star"></span>
					<span class="fa fa-star"></span>
					<span class="fa fa-star"></span>
				{% endif %}
			</h1>
			<p>{{ x.content | strip_html | truncatewords: 50 }}</p>
			<p><a href="{% if x.link %}{{ x.link }}{% else %}{{ x.url }}{% endif %}" class="btn btn-default">Lanjutkan membaca &rarr;</a></p>
		</div>
	{% endif %}
{% endfor %}

<style type="text/css">
	.hilang_kategori {
		display: none;
		margin: 0;
		padding: 0;
	}
</style>