---
---

<!DOCTYPE html>
<html>
<head>
	<title>{{ page.kategori | capitalize }} - Zen</title>
	{% include head.html %}
</head>
<body>
<script type="text/javascript">
	{% assign first = true %}
	postingan = [
		{% for post in site.posts %}
			{% if post.categories[0] == page.kategori %}
				{% unless first %},{% endunless %}{
					'link': '{{ site.url }}{{ post.url }}',
					'judul': '{{ post.title | markdownify | strip_html | jsonify | replace: '\n', '' | replace: '"', '' }}',
					'gambar': '{{ post.gambar }}',
					'cuplikan': '{{ post.content | truncatewords: 50 | markdownify | strip_html | jsonify | replace: '\n', '' | replace: '"', '' }}'
				}
				{% assign first = false %}
			{% endif %}
		{% endfor %}
	];
</script>
<div class="container">
	{% include header.html %}
	<div class="row">
		<div class="col-sm-8">
			<script type="text/javascript">
				document.writeln('<scr'+'ipt type=\"text/javascript\" src=\'/bin/jquery.min.js?'+Math.random()+'\'></scr'+'ipt>');
			</script>
			<div class="isi"></div>
			<script type="text/javascript">
				awal = 0;
				tambah = 5;
			</script>
			<script type="text/javascript">
				tampil = function(){
					for (x = awal; x < tambah; x++){
						document.getElementsByClassName('isi')[0].html += '<div>\
							<h1 style=\"color: rgb(0, 188, 212);\">\
								<a href=\''+postingan[x].link+'\' style=\"text-decoration: none;\">'+postingan[x].judul+'</a>\
							</h1>\
							<p><img src=\"'+postingan[x].gambar+'\" style=\"width: 100%;\"></p>\
							<p>'+postingan[x].cuplikan+'</p>\
							<p>\
								<a href=\"'+postingan[x].link+'\" class=\"btn btn-default\" style=\"background: rgb(76, 175, 80); color: white;\">Lanjutkan Membaca</a>\
							</p>\
						</div>';
					}	
					awal += tambah;
					tambah += tambah;
				}
				tampil();
			</script>
			<a href="javascript:tampil();" class="btn btn-default">Next &rarr;</a>
			<!-- loop start -->
			<!-- <div>
				<h1 style="color: rgb(0, 188, 212);">
					<a href='(( link ))' style="text-decoration: none;">(( judul ))</a>
				</h1>
				<p><img src="(( gambar ))" style="width: 100%;"></p>
				<p>(( cuplikan ))</p>
				<p>
					<a href="(( link ))" class="btn btn-default" style="background: rgb(76, 175, 80); color: white;">Lanjutkan Membaca</a>
				</p>
			</div> -->
			<!-- loop end -->
		</div>
		<div class="col-sm-4">
			{% include sidebar.html %}
		</div>
	</div>
	{% include footer.html %}
</div>
</body>
</html>