<!DOCTYPE html>
<html>
<head>
	<title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
	<!-- == seo == -->
	<link rel="alternate" type="application/rss+xml" href="{{ site.url }}/feed" />
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="/bin/bootstrap/css/bootstrap.min.css">
	<script src="//twemoji.maxcdn.com/2/twemoji.min.js?11.2"></script>
	<link rel="stylesheet" type="text/css" href="/bin/pygment/default.css">
	<link rel="stylesheet" type="text/css" href="/bin/style.css">
	<link rel="icon" type="image/x-icon" href="/favicon.ico">
	<script type="text/javascript">
		const duration = 0
	</script>
	<!-- <script type='text/javascript' src='//platform-api.sharethis.com/js/sharethis.js#property=5bec9c4c443c26001b064fee&product=inline-share-buttons' async='async'></script> -->

	<!-- <script type="text/javascript">
		$(function(){
			$('div, span').each(function(){
				if ($(this).css('z-index') > 1030){
					$(this).hide()
				}
			})	
		})
	</script> -->

	{% include iklan-otomatis.html %}
</head>
<body>
	<div class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header"><a href="/" class="navbar-brand">Zen</a></div>
		</div>
	</div>
	<div class="container">
		{{ content }}
		<br>
	</div>

	<!-- messenger chat -->

	<div class="messenger"><a target='_blank' href="https://www.messenger.com/t/mzaini30"><img src="/messenger.png" alt=""></a></div>
	
	<!-- ngelihatin yang online -->
	
	<div style="position: fixed; left: 10px; bottom: 0;">
	<script id="_wauttn">var _wau = _wau || []; _wau.push(["dynamic", "b79nqjyg3k", "ttn", "c4302bffffff", "small"]);</script><script async src="//waust.at/d.js"></script>
	</div>


	<!-- github ribbon -->
	<!--
	<a href="https://github.com/mzaini30/blog" target='_blank'><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png" alt="Fork me on GitHub"></a>
	-->


	<script type="text/javascript" src="/bin/jquery.min.js"></script>
	<script>
		$('.wa-kirim').click(function(){
			nomor_whatsapp = '6281545143654'
			template = "*Judul*%3A%20{{ page.title | replace: ' ', '%20' | replace: ':', '%3A' }}%0A*Link*%3A%20{{ site.url | replace: ':', '%3A' }}{{ page.url | replace: ':', '%3A' }}%0A%0A*Komentar*%3A%0A%0A"
			isi = $('.wa-teks').val().replace(/ /g, '%20').replace(/:/g, '%3A').replace(/\n/g, '%0A')
			hasil = 'https://api.whatsapp.com/send?phone=' + nomor_whatsapp + '&text=' + template + isi
			location.href = hasil
			// https://api.whatsapp.com/send?phone=1&text=*Judul*%3A%20lorem%0A*Link*%3A%20lorem2%0A%0A*Komentar*%3A%0A%0Alorem3
			// console.log(hasil)
		})
					
		twemoji.parse(document.body)
		// 
	</script>
	<script type="text/javascript" src="/bin/ResizeSensor.min.js"></script>
	<script type="text/javascript" src="/bin/theia-sticky-sidebar.min.js"></script>
	<script type="text/javascript">
		$('.theia').theiaStickySidebar({
			additionalMarginTop: 20,
			additionalMarginBottom: 20
		})

	</script>

	
</body>
</html>