---
layout: default
---

<link rel="stylesheet" type="text/css" href="/vendor/pygments-css/autumn.css">
{% if page.arab == true %}
	<link rel="stylesheet" type="text/css" href="/app/arab.css">
{% endif %}
{% if page.link %}
	<script type="text/javascript">
		location.href = "{{ page.link }}"
	</script>
{% endif %}
<div class="postingan">
	<h1 class="hilang_kategori">{{ page.title }}</h1>
	<div class="element">
		{% include iklan.html %}
	</div>
	{{ content }}
</div>
{% if page.tag %}
	<p>
		<a href="/kategori/{{ page.tag }}.html">#{{ page.tag }}</a>
		{% if page.bahasa %}
			#{{ page.bahasa }}
		{% endif %}
	</p>
{% endif %}
<div class="element">
	{% include iklan.html %}
</div>
{% if page.disqus != false %}
	<div class="hilang_kategori">
		{% include disqus.html %}
	</div>
{% endif %}