<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" lang="en"><!--<![endif]-->

<head>
    {% include head.html %}
</head>
 
<!-- BODY -->
<body id="post-index">
    <div class="muncul-sekali" style="display: none;">
        {% include browser-upgrade.html %}
    </div>
    <div class="infinity">

        <!-- MAIN -->
        <div id="main" role="main">
          {{ content }}
        </div>       
    </div>
    <!-- FOOTER -->  
    <div class="muncul-sekali-2" style="display: none;">
        <footer>  
            <div class="footer-wrapper">
                <footer role="contentinfo">
                    {% include footer.html %}
                </footer>
            </div>   
        </footer>
    </div>
    {% include skrip-index.html %}

    <script type="text/javascript">
        jQuery(function($){
            $(".muncul-sekali:first").css("display", "block");
            $(".muncul-sekali-2:last").css("display", "block");
        });
    </script>
</body>
</html>
